In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame(np.arange(12).reshape(3,4),columns=list('ABCD'))
print(df)

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

#### Row or Column-wise Function Application:

apply()

In [3]:
df.apply(np.mean)

A    4.0
B    5.0
C    6.0
D    7.0
dtype: float64

In [4]:
df.apply(np.mean, axis=1)

0    1.5
1    5.5
2    9.5
dtype: float64

In [6]:
norm_mean = lambda x:x.mean()/(x.max()-x.min())
df.apply(norm_mean)

A    0.500
B    0.625
C    0.750
D    0.875
dtype: float64

#### Applying Elementwise Functions:

applymap()

In [7]:
df = pd.DataFrame(np.random.randn(12).reshape(3,4),columns=list('ABCD'))
print(df)

          A         B         C         D
0  0.699531 -1.818683  0.338053 -1.323974
1 -0.718729 -0.084868  0.159403 -0.111495
2 -1.866958  0.797605 -1.017419  0.766049

In [8]:
fun = lambda x: len(str(x))
df.applymap(fun)

    A   B   C   D
0  18  19  19  19
1  19  20  19  19
2  19  18  19  18