In [1]:
import pandas as pd
import numpy as np

In [2]:
long_series = pd.Series(np.random.randn(1000))

### Head and Tail

In [3]:
long_series.head()

0   -0.495711
1    1.128140
2    0.702557
3    0.473513
4   -0.963065
dtype: float64

In [4]:
long_series.tail(3)

997    0.464673
998   -0.840632
999    1.066921
dtype: float64

### Attributes

shape

In [5]:
d = {'one':[1.,2.,3.,4.],
     'two':[4.,3.,2.,1.]}
df = pd.DataFrame(d, index=['a','b','c','d'])
print(df.shape)
print(df.size)

(4, 2)
8

axes

In [6]:
print(long_series.axes)
print(df.axes)
print(df.index)
print(df.columns)

[RangeIndex(start=0, stop=1000, step=1)]
[Index(['a', 'b', 'c', 'd'], dtype='object'), Index(['one', 'two'], dtype='object')]
Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['one', 'two'], dtype='object')

value

In [7]:
print(df.values)

[[1. 4.]
 [2. 3.]
 [3. 2.]
 [4. 1.]]

### Descriptive statistics

In [8]:
print(df.mean(1))

a    2.5
b    2.5
c    2.5
d    2.5
dtype: float64

In [9]:
df.sum(axis=1, skipna=False)

a    5.0
b    5.0
c    5.0
d    5.0
dtype: float64

In [10]:
df_stand=(df-df.mean())/df.std()
print(df_stand)

        one       two
a -1.161895  1.161895
b -0.387298  0.387298
c  0.387298 -0.387298
d  1.161895 -1.161895

### Summarizing data: describ

In [11]:
df.describe()

            one       two
count  4.000000  4.000000
mean   2.500000  2.500000
std    1.290994  1.290994
min    1.000000  1.000000
25%    1.750000  1.750000
50%    2.500000  2.500000
75%    3.250000  3.250000
max    4.000000  4.000000

### Value counts (histogramming) / Mode

In [12]:
data = np.random.randint(0,7,size=50)
print(data)
s = pd.Series(data)
print(s.value_counts())

[4 4 0 4 0 1 3 6 6 0 4 0 3 3 3 6 3 5 5 1 5 0 2 0 1 5 3 3 0 3 2 6 5 6 5 0 5
 0 2 4 2 6 2 3 4 0 5 2 6 1]
0    10
3     9
5     8
6     7
4     6
2     6
1     4
dtype: int64