In [1]:
import pandas as pd
import numpy as np

# default is axis=0
grouped = obj.groupby(key)

grouped = obj.groupby(key, axis=1)

grouped = obj.groupby([key1, key2])

In [2]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                           'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.arange(8),
                    'D' : np.arange(20,28)})

print(df)

     A      B  C   D
0  foo    one  0  20
1  bar    one  1  21
2  foo    two  2  22
3  bar  three  3  23
4  foo    two  4  24
5  bar    two  5  25
6  foo    one  6  26
7  foo  three  7  27

In [6]:
grouped = df.groupby('A')
print(grouped.groups)
print(grouped.get_group('foo'))

{'bar': Int64Index([1, 3, 5], dtype='int64'), 'foo': Int64Index([0, 2, 4, 6, 7], dtype='int64')}
     A      B  C   D
0  foo    one  0  20
2  foo    two  2  22
4  foo    two  4  24
6  foo    one  6  26
7  foo  three  7  27

In [4]:
grouped = df.groupby(['A','B'])
print(grouped.groups)

{('bar', 'one'): Int64Index([1], dtype='int64'), ('bar', 'three'): Int64Index([3], dtype='int64'), ('bar', 'two'): Int64Index([5], dtype='int64'), ('foo', 'one'): Int64Index([0, 6], dtype='int64'), ('foo', 'three'): Int64Index([7], dtype='int64'), ('foo', 'two'): Int64Index([2, 4], dtype='int64')}

In [8]:
grouped = df.groupby(['A','B'])
print(grouped.aggregate(np.sum))
print(grouped.agg(np.sum))

           C   D
A   B
bar one    1  21
    three  3  23
    two    5  25
foo one    6  46
    three  7  27
    two    6  46
           C   D
A   B
bar one    1  21
    three  3  23
    two    5  25
foo one    6  46
    three  7  27
    two    6  46

In [10]:
grouped = df.groupby(['A','B'], as_index=False)
print(grouped.agg(np.sum))

     A      B  C   D
0  bar    one  1  21
1  bar  three  3  23
2  bar    two  5  25
3  foo    one  6  46
4  foo  three  7  27
5  foo    two  6  46

In [12]:
grouped = df.groupby(['A','B'])
print(grouped.sum().reset_index())

     A      B  C   D
0  bar    one  1  21
1  bar  three  3  23
2  bar    two  5  25
3  foo    one  6  46
4  foo  three  7  27
5  foo    two  6  46

In [13]:
grouped = df.groupby(['A'])
grouped['C'].agg([np.sum,np.mean,np.std])

     sum  mean       std
A
bar    9   3.0  2.000000
foo   19   3.8  2.863564

In [14]:
grouped = df.groupby(['A'])
grouped.agg({'D':'std','C':'mean'})

            D    C
A
bar  2.000000  3.0
foo  2.863564  3.8