In [1]:
import pandas as pd
import numpy as np
from os import path

### CSV & Text files

In [2]:
file_path = r"C:\DeepHobbying\pandas\LT5"
file_name = "Iris.csv"
csv_file = path.join(file_path,file_name)
csv_file
#df = pd.read_table(csv_file,sep=",")
df = pd.read_csv(csv_file)
print(df.head(2))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

header

In [3]:
df = pd.read_csv(csv_file,sep=",",header=1)
print(df.head(2))

   1  5.1  3.5  1.4  0.2  Iris-setosa
0  2  4.9  3.0  1.4  0.2  Iris-setosa
1  3  4.7  3.2  1.3  0.2  Iris-setosa

In [4]:
df = pd.read_csv(csv_file,sep=",",names=["Dummy1","Dummy2","Dummy3","Dummy4","Dummy5","Dummy6"])
print(df.head(2))

  Dummy1         Dummy2        Dummy3         Dummy4        Dummy5  \
0     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
1      1            5.1           3.5            1.4           0.2

        Dummy6
0      Species
1  Iris-setosa

skiprows

In [5]:
df = pd.read_csv(csv_file,sep=",",header=0,skiprows=lambda x: x%2 !=0)
print(df.head(2))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   2            4.9           3.0            1.4           0.2  Iris-setosa
1   4            4.6           3.1            1.5           0.2  Iris-setosa

na_values

In [6]:
### ['-1.#IND', '1.#QNAN', '1.#IND', '-1.#QNAN', '#N/A N/A', '#N/A', 'N/A', 'n/a', 'NA', '#NA', 'NULL', 'null', 'NaN', '-NaN', 'nan', '-nan', '']

In [7]:
df = pd.read_csv(csv_file,sep=",",na_values=["XXX","YYY"])
print(df.head(2))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [8]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [9]:
df = pd.read_csv(csv_file,dtype={'SepalLengthCm':object})
print(df.dtypes)

Id                 int64
SepalLengthCm     object
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [10]:
#df.to_csv('saved_csv.csv',index=Flase)

### Excel files

In [11]:
file_path = r"C:\DeepHobbying\pandas\LT5"
file_name = "Iris.xlsx"
excel_file = path.join(file_path,file_name)
df = pd.read_excel(excel_file,sheet_name='Iris')
print(df.head(2))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [12]:
xlsx = pd.ExcelFile(excel_file)
df = pd.read_excel(xlsx,'Iris')
print(df.head(2))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [13]:
with pd.ExcelFile(excel_file) as xls:
    df1=pd.read_excel(xlsx,'Iris')
    df2=pd.read_excel(xlsx,'Iris_subset')
    
df2.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1  34            5.5           4.2            1.4           0.2  Iris-setosa

In [14]:
#df.to_excel('New_Excel.xlsx', sheet_name='Sheet1')