In [1]:
import pandas as pd
import numpy as np

### Basic

In [2]:
dates = pd.date_range('1/1/2000', periods=5)
df = pd.DataFrame(np.random.randn(5, 4), index=dates, columns=['A', 'B', 'C', 'D'])
print(df)

                   A         B         C         D
2000-01-01  0.717450 -0.463812 -1.133128 -1.108590
2000-01-02  0.954015  0.703389  0.632258 -1.382663
2000-01-03  0.593977 -0.297568 -0.698949  1.055790
2000-01-04 -1.539108 -0.422299  1.442528  0.238500
2000-01-05  0.116331 -0.362795 -1.187975 -0.995155

In [3]:
print(df['A'])
print(df['A']['2000-01-04'])

2000-01-01    0.717450
2000-01-02    0.954015
2000-01-03    0.593977
2000-01-04   -1.539108
2000-01-05    0.116331
Freq: D, Name: A, dtype: float64
-1.5391075634727975

In [4]:
df[['A','B']]

                   A         B
2000-01-01  0.717450 -0.463812
2000-01-02  0.954015  0.703389
2000-01-03  0.593977 -0.297568
2000-01-04 -1.539108 -0.422299
2000-01-05  0.116331 -0.362795

### Index Selection

1 Selection By Label

In [5]:
df = pd.DataFrame(np.arange(24).reshape(6,4),index=list('abcdef'),columns=list('ABCD'))
print(df)
print("\n")
print(df.loc['d':'f','A':'D'])

    A   B   C   D
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
e  16  17  18  19
f  20  21  22  23


    A   B   C   D
d  12  13  14  15
e  16  17  18  19
f  20  21  22  23

2 Selection By Position

In [6]:
df.iloc[1:5, 2:4]

    C   D
b   6   7
c  10  11
d  14  15
e  18  19

at & iat

In [7]:
print(df.at['a','D'])
print(df.iat[0,3])

3
3