In [1]:
import pandas as pd
import numpy as np

### create a Series
s = pd.Series(data, index=index)

#### 1 From scalar value

In [2]:
pd.Series(5)

0    5
dtype: int64

In [3]:
pd.Series(5.0, index=["a","b","c","d","e"])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

#### 2 From dict

In [4]:
d = {'a':0,'b':1,'c':2}
pd.Series(d)

a    0
b    1
c    2
dtype: int64

#### 3 From ndarray

In [5]:
a = np.random.randn(5)
s = pd.Series(a,index=["a","b","c","d","e"])
print(s)

a   -0.428383
b   -0.254447
c   -1.454611
d   -0.651741
e   -1.106714
dtype: float64

In [6]:
s['a']
s.get('a',np.nan)

-0.428383092889051

### Vectorized operations and label alignment with Series

In [7]:
s = pd.Series(np.arange(5))
print(s)
print(s+s)

0    0
1    1
2    2
3    3
4    4
dtype: int32
0    0
1    2
2    4
3    6
4    8
dtype: int32

In [8]:
np.exp(s)

0     1.000000
1     2.718282
2     7.389056
3    20.085537
4    54.598150
dtype: float64

### Name attribute

In [9]:
s = pd.Series(np.arange(5),name='something')
print(s.name)

something

In [10]:
s.rename('different')

0    0
1    1
2    2
3    3
4    4
Name: different, dtype: int32