In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(['festival-mood', 'grün', 'deep-blue-water',
               'some speakers make a clear distinction', 
               'word-final position', np.nan, 'deephobbying', 'dog', 'cat'])
print(s)

0                             festival-mood
1                                      grün
2                           deep-blue-water
3    some speakers make a clear distinction
4                       word-final position
5                                       NaN
6                              deephobbying
7                                       dog
8                                       cat
dtype: object

### str attributes

In [3]:
s.str.upper()

0                             FESTIVAL-MOOD
1                                      GRÜN
2                           DEEP-BLUE-WATER
3    SOME SPEAKERS MAKE A CLEAR DISTINCTION
4                       WORD-FINAL POSITION
5                                       NaN
6                              DEEPHOBBYING
7                                       DOG
8                                       CAT
dtype: object

Split

In [5]:
s2 = s.str.split()
print(s2)

0                                  [festival-mood]
1                                           [grün]
2                                [deep-blue-water]
3    [some, speakers, make, a, clear, distinction]
4                           [word-final, position]
5                                              NaN
6                                   [deephobbying]
7                                            [dog]
8                                            [cat]
dtype: object

In [6]:
s.str.split(' ').str.get(0)

0      festival-mood
1               grün
2    deep-blue-water
3               some
4         word-final
5                NaN
6       deephobbying
7                dog
8                cat
dtype: object

In [7]:
s.str.split(' ').str[0]

0      festival-mood
1               grün
2    deep-blue-water
3               some
4         word-final
5                NaN
6       deephobbying
7                dog
8                cat
dtype: object

In [8]:
s.str.split(' ', expand=True)

                 0         1     2     3      4            5
0    festival-mood      None  None  None   None         None
1             grün      None  None  None   None         None
2  deep-blue-water      None  None  None   None         None
3             some  speakers  make     a  clear  distinction
4       word-final  position  None  None   None         None
5              NaN       NaN   NaN   NaN    NaN          NaN
6     deephobbying      None  None  None   None         None
7              dog      None  None  None   None         None
8              cat      None  None  None   None         None

Replace

In [9]:
s.str.replace('-','', case=False)

0                              festivalmood
1                                      grün
2                             deepbluewater
3    some speakers make a clear distinction
4                        wordfinal position
5                                       NaN
6                              deephobbying
7                                       dog
8                                       cat
dtype: object

Concatination

In [10]:
s = pd.Series(['a','b','c','d'])
s.str.cat(sep="")

'abcd'

In [12]:
s = pd.Series(['a','b',np.nan,'d'])
s.str.cat(sep="", na_rep='-')

'ab-d'

In [13]:
s.str.cat(['A','B','C','D'], na_rep="-")

0    aA
1    bB
2    -C
3    dD
dtype: object